*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
secrets.tar
keystore/*
app/debug/*
app/release/*
fastlane.json
